<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
  </head>
  <body class="container">
    <nav>
      <ul>
        <li><a href="/createBook">Crear libro</a></li>
        <li><a href="/books">Recuperar libros</a></li>
        <li><a href="/api/pdfreport">PDF report</a></li>
        <li><a href="/api/authorsbvmc">Wikidata call</a></li>
        <li><a href="/searchBook">Buscar libro</a></li>
      </ul>
    </nav>
    <h1>Autores</h1>

    <table>
      <tr>
        <th>T&iacute;tulo</th>
        <th>Autor</th>
      </tr>
      <tr th:each="author : ${authors}">
        <td th:text="${author.authorLabel.value}">titulo</td>
        <td th:text="${book.author}">autor</td>
      </tr>
    </table>
  </body>
</html>
