<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body class="container">
      <nav>
          <ul>
              <li><a href="/createBook">Crear libro</a></li>
              <li><a href="/books">Recuperar libros</a></li>
              <li><a href="/api/pdfreport">PDF report</a></li>
              <li><a href="/searchBook">Buscar libro</a></li>
              <li><a href="/searchAuthor">Buscar autor Wikidata</a></li>
          </ul>
      </nav>
  </body>
</html>
