<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
  </head>
  <body class="container">
    <nav>
      <ul>
        <li><a href="/createBook">Crear libro</a></li>
        <li><a href="/books">Recuperar libros</a></li>
        <li><a href="/api/pdfreport">PDF report</a></li>
        <li><a href="/api/authorsbvmc">Wikidata call</a></li>
        <li><a href="/searchBook">Buscar libro</a></li>
      </ul>
    </nav>
    <h1>Search Form</h1>
    <form action="#" th:action="@{/searchBook}" method="get">
      <label>Título<input type="text" th:name="text" aria-label="Título" placeholder="Título" required /></label>
      <div>
        <input type="submit" value="Buscar" />
        <input type="reset" value="Reset" />
      </div>
    </form>

    <table>
      <tr>
        <th>Título</th>
        <th>Autor</th>
        <th>Publicación</th>
      </tr>
      <tr th:each="book : ${libros}">
        <td th:text="${book.title}">titulo</td>
        <td th:text="${book.author}">autor</td>
        <td th:text="${book.publication}">publiacion</td>
      </tr>
    </table>
  </body>
</html>
